.list {
    margin: 20px;

    .items {
        gap: 2rem;
    }

    .item {
        min-width: 0;

        img[mat-card-image] {
            width: 100%;
            height: auto;
        }

        mat-card-actions {
            gap: 8px;
        }
    }
}
